name: Release and Publish # 发布和发布的工作流程名称
on:
  push:
    branches:
      - main # 仅当推送到 main 分支时触发

permissions:
  id-token: write
  contents: write # 设置内容的权限为写
  pull-requests: write # 设置拉取请求的权限为写
  issues: write # 设置问题的权限为写

jobs:
  release-please:
    # 设置工作流程运行环境为 Ubuntu
    runs-on: ubuntu-latest
    steps:
      # 使用 release-please-action@v3 动作
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          # 设置发布类型为 Node.js
          release-type: node
      # 检出代码
      - uses: actions/checkout@v4
      # 设置 Node.js 环境
      - uses: actions/setup-node@v4
        with:
          # 设置 Node.js 版本
          node-version: 20
          # 设置 npm 注册表 URL
          registry-url: https://registry.npmjs.org
      # 安装依赖
      - run: npm install
      # 升级npm版本
      - run: npm install -g npm@latest
        if: ${{ steps.release.outputs.release_created }}
      # 编译
      - run: npm run build
      # 删除开发依赖
      - run: npm pkg delete devDependencies
      # 修改版本号为 beta 格式
      - name: Update version to beta
        run: |
          $version = node -p "require('./package.json').version"
          $shortSha = "${{ github.sha }}".Substring(0, 7)
          $betaVersion = "$version-beta-$shortSha"
          npm version $betaVersion --no-git-tag-version
          Write-Host "Updated version to: $betaVersion"
        shell: pwsh
        if: ${{ !steps.release.outputs.release_created }}
      # 发布到预览
      - name: Publish to pkg.pr.new
        run: npx pkg-pr-new publish
        if: ${{ !steps.release.outputs.release_created }}
      # 发布npm
      - run: npm run pub
        if: ${{ steps.release.outputs.release_created }}
      # 同步到 npmmirror.com
      - name: Sync to npmmirror.com
        run: npm install cnpm -g && cnpm sync --no-progress && echo "Sync completed"
        if: ${{ steps.release.outputs.release_created }}
